<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <!--<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>-->
                <!--<span class="glyphicon glyphicon-education"></span>-->
                DokuMentor
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">
                    <span class="glyphicon glyphicon-home"></span>
                    Kezdőoldal</a>
                </li>

                <li><a href="/upload">
                    <span class="glyphicon glyphicon-upload"></span>
                    Feltöltés</a>
                </li>
                <li><a href="/search">
                    <span class="glyphicon glyphicon-search"></span>
                    Keresés</a>
                </li>
            </ul>
            
        </div>
    
    </div>
    </nav>
    <main>
        <div class="jumbotron">
            <h1>DokuMentor</h1>
            <p>Valami szlogenszerű felirat helye</p>
        </div>
    </main>