<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<header>
    <h2>Bejelentkezés a következővel</h2>
</header>
<main>
    <a class="google-btn" href="/auth/google">Google+</a>
</main>



<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>