<% include ../partials/head %>
<body>
    <% include ../partials/navbar %>
    <div class="container" style="padding-top:6em">
      <div class="bs-docs-section">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-header">
                <h1 id="forms">A DokuMentor háttere</h1>
              </div>
              <p>Ez a projekt <a href="//agondolkodasorome.hu/">A Gondolkodás Öröme Alapítvány</a> által szervezett <a href="//techtabor.agondolkodasorome.hu">TechTábor</a> keretein belül jöhetett létre.</p>
              
              <div class="page-header">
                  <h1 id="forms">Mentoraink</h1>
              </div>
              <!-- <p>Illene megemlítenünk őket. :)</p> -->
              <p>Radnai Ágnes és Weisz Ágoston</p>
              <!-- <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Radnai Ágnes</h4>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Weisz Ágoston</h4>
                    </div>
                  </div>
                  <br>
                </div>
              </div> -->
              
              <div class="page-header">
                <h1 id="forms">Mi</h1>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Reményi Réka</h4>
                      <h6 class="card-subtitle mb-2 text-muted">ELTE Trefort Ágoston Gyakorló Gimnázium</h6>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <a href="https://github.com/HoKipsy" class="card-link">GitHub</a>
                      <!-- <a href="#" class="card-link">Honlap</a> -->
                    </div>
                  </div>
                  <br>
                </div>
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Kiss Gergely</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Budapesti Fazekas Mihály Gyakorló Általános Iskola és Gimnázium</h6>
                      <a href="https://github.com/madasigon" class="card-link">GitHub</a>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Apagyi Dávid</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Kecskeméti Katona József Gimnázium</h6>
                      <a href="https://github.com/dapagyi" class="card-link">GitHub</a>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>