<% include ../partials/head %>
<body>
    <% include ../partials/navbar %>
    <div class="container" style="padding-top:6em">
      <div class="bs-docs-section">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-header">
                <h1 id="forms">Összetett keresés</h1>
              </div>
              <p>Keresés erre:</p>
              <p><input type="text" placeholder="Fájl neve (title)" size=50></p>
              <p><input type="text" placeholder="Egyetem (university)" size=50></p>
              <p><input type="text" placeholder="Szak (course)" size=50></p>
              <p><input type="text" placeholder="Félév (semester)" size=50></p>
              <p><input type="text" placeholder="Tanár (teacher)" size=50></p>
              <p><input type="text" placeholder="Kulcsszavak (tags)" size=50></p>
              <p><input type="date">(Tanóra dátuma (lecture_date))</p>
              <p></p>
              <font class="text-muted">Tanóra dátuma</font>
              <p><button type="button" class="btn btn-primary btn-lg">Keresés</button></p>
            </div>
            <div>
              <div>
                <table style="width: 100%">
                  <tr>
                    <td><font size=3 class="text-muted">Fájl neve</font></td>
                    <td><input type="text" size=50></td>
                  </tr>
                  <tr>
                    <td><font size=3 class="text-muted">Egyetem</font></td>
                    <td><input type="text" size=50></td>
                  </tr>
                  <tr>
                    <td><font size=3 class="text-muted">Szak</font></td>
                    <td><input type="text" size=50></td>
                  </tr>
                  <tr>
                    <td><font size=3 class="text-muted">Félév</font></td>
                    <td><input type="text" size=50></td>
                  </tr>
                  <tr>
                    <td><font size=3 class="text-muted">Tanár</font></td>
                    <td><input type="text" size=50></td>
                  </tr>
                  <tr>
                    <td><font size=3 class="text-muted">Kulcsszavak</font></td>
                    <td><input type="text" size=50></td>
                  </tr>
                  <tr>
                    <td><font size=3 class="text-muted">Tanóra dátuma</font></td>
                    <td><input type="date" size=50></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>