<% include ../partials/head %>
<body>
    <% include ../partials/navbar %>
    <div class="container" style="padding-top:6em">
      <div class="bs-docs-section">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-header">
                <h1 id="forms">Mi ez?</h1>
              </div>
              <%#Bemutató szöveg álá Réka: %>
              <p>Az egyetemisták mindennapjait gyakran megkeseríti a jegyzetek megosztásának problémája. Mindenkinek ugyanazokra a jegyzetekre lenne szüksége, azonban annak a sokszorosítása nehézkes, esetekben nem is megoldható. <p>
              <h4>Erre kínál megoldást a DokuMentor,</h4>
              <p>a mindenki számára hozzáférhető, rendszerezett jegyzet megosztó platform, ahol bárki megtekintheti a már feltöltött jegyzeteket és bárkiből feltöltő válhat.</p>
              <h4>De hogyan is működik mindez?</h4><p>A weboldalon bárki regisztrálhat néhány kattintással, egy Google-fiók segítségével. A feltöltés igencsak egyszerű. Csupán egy fotót kell készíteni az adott jegyzetről, a legfontosabb adatok kitöltése után ezt fetölteni az oldalra, és már kész is. Innentől már mindenki számára látható a dokumentum és az alatta található Disqus kommentboxban bárki hozzá is szólhat vagy értékelheti azt.</p>
              <p>A keresés sem bonyolult. Minden visszakereshető kulcsszavakkal, de választható az összetett keresés is, ahol a szak, félév, tanár és a dátum alapján szűkíthető a találatok listája.</p>
            </div>
          </div>
        </div>
    </div>
</body>