<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>DokuMentor</h1>
        <p>A jegyzetmegosztás jövője</p>
    </div>
</main>

<form ref='uploadForm' 
id='uploadForm'
action='/upload'
method='post' 
encType="multipart/form-data">
  <input type="file" name="sampleFile" />
  <input type='submit' value='Feltöltés' />
</form>     

<% include ../partials/uploads %>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>